doctype html
html
  head
    meta(charset="utf-8")
    title Page Walker
    link(rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css")
    style.
      body {
        font-family: Hack, serif;
      }
      .m {
        height: 100vmin;
        text-align: center;
        padding-top: 160px;
      }
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 20px;
      }
      .end {
        text-align: center;
        padding: 20px 0 120px 0;
        font-size: 18px;
      }
  body(style="height: 3000px")
    .m
      h1 Page Walker
      h2 
        | &lt;Just scroll and watch me dance/&gt;
    .m(style="top:100vmin")
      h2 No matter how far you go, I know
    .m(style="top:200vmin")
      h2 You are the one who has no limits
    .m(style="top:300vmin")
      h2 Trough, or killed, or bounce higher
    .end &lt;God knows/&gt;
    script(src="./page-walker.js?time=#{time}")
    script.
      console.log('hi!')
      PageWalker.watch()
